[Unit]
Description=Start ipt
After=syslog.target network.target
[Service]
User=root
Environment=PATH='/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin'
Type=oneshot
ExecStart=/root/scripts/ipt/iptd.sh start
ExecStop=/root/scripts/ipt/iptd.sh stop
ExecReload=/root/scripts/ipt/iptd.sh restart
WorkingDirectory=/root/scripts/ipt
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
